@import '../../styles/variables.scss';

.header {
    background-color: #1e1e26;
    padding: 14px 18px;
    margin-bottom: 24px;

    &__navigation {
        display: flex;
        justify-content: space-between;

        &__logo {
            color: #fe4c50;
            font-size: 1.2rem;
            font-weight: 800;
        }

        &__link {
            margin-left: 10px;
            color: #b5aec4;
        }

        &__icon {
            color: $white;
            font-size: 1.2rem;
        }

        &__links {
            display: flex;
            gap: 1rem;
        }

        &__links li {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.logout-btn {
    margin-left: 1rem;
}
