@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

$open-sans-font: 'Open Sans', sans-serif;

$primary-50: #c2c5c8;
$primary-100: #adb2b6;
$primary-200: #999fa4;
$primary-300: #858b91;
$primary-400: #70787f;
$primary-500: #5c656d;
$primary-600: #47515a;
$primary-700: #333e48;
$primary-800: #2e3841;
$primary-900: #29323a;

/* grey */
$grey-50: #f0f4f8;
$grey-100: #d9e2ec;
$grey-200: #bcccdc;
$grey-300: #9fb3c8;
$grey-400: #829ab1;
$grey-500: #627d98;
$grey-600: #486581;
$grey-700: #334e68;
$grey-800: #243b53;
$grey-900: #102a43;
/* rest of the colors */
$black: #222;
$white: #fff;
$yellow: #fed700;
$backgroundColor: rgb(223, 51, 21);
$red-light: #f8d7da;
$red-dark: #842029;
$green-light: #d1e7dd;
$green-dark: #0f5132;

/* fonts  */
$headingFont: 'Roboto Condensed', Sans-Serif;
$bodyFont: 'Cabin', Sans-Serif;
$small-text: 0.875rem;
$extra-small-text: 0.7em;
/* rest of the vars */
$backgroundColor: $grey-50;
$textColor: $grey-900;
$borderRadius: 0.25rem;
$letterSpacing: 1px;
$transition: 0.3s ease-in-out all;
$max-width: 1240px;
$min-width: 280px;
$fixed-width: 500px;
$fluid-width: 90vw;
$breakpoint-lg: 992px;

/* box shadow*/
$shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
$shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
$shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
$shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
